---
layout: default
---
<h1>{{ page.name }}</h1>
<h2>{{ page.description }}</h2>

{{ content }}

<h2>Posts</h2>
<ul>
  {% assign filtered_posts = site.posts | where: 'author', page.name %}
  {% for post in filtered_posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<div class="mdui-container">
    <video class="mdui-video-fluid" controls>
      <source src="https://noiresources.ccf.org.cn/NOI2022%E5%AE%A3%E4%BC%A0%E7%89%87.mp4" type="video/mp4">
    </video>
</div>
